<head>

    <title><%= title ? title : "Movie Database" %></title>
    <link href="/Pictures/Film-icon.png" rel="icon">
    <link href="/CSS/darkmode.css" rel="stylesheet">
    <style>
        ul {
            list-style-type: none;
            margin: auto;
            padding: auto;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: #d8dee9;
            text-decoration: none;
            padding: 8px;
            text-align: center;
            background-color: #4F5A69;
        }
    </style>
</head>
<div>
    <ul>
        <li><a id="home" href="/private/home">Home</a></li>
        <li><a id="allmovies" href="/private/movielist">All Movies</a></li>
        <li><a id="search" href="/private/find">Search</a></li>
        <li><a id="myaccount" href="/private/myaccount">My Account</a></li>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="login-button">Log Out</button>
          </form>
    </ul>
</div>