<!DOCTYPE html>
<html lang="en">
<%- include("partials/header", {title: "My Account"}) %>

<body class="nordtheme">
    <style>
        body {
            text-align: center;
            margin: auto;
            padding: 20px;
            font-size: 30px;
        }

        #myaccount {
            background-color: #48CFAD;
        }

        h1 {
            font-size: 30px;
            text-align: center;
        }
    </style>
    <br>
    <br>
    <img src="./Pictures/defaultpicture.jpeg" height=300px/>
    <table>
        <tr>
            <td> Name: </td>
        </tr>
        <tr>
            <td> Favorite Movie: </td>
        </tr>
        <tr>
            <td> Watchlist: </td>
        </tr>
    </table>
</body>