<!DOCTYPE html>
<html lang="en">

<%- include("partials/header", {title: "Search for a movie"}) %>

<body class="nordtheme">
    <style>
        ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }

        li {
            float: left;
        }

        .headerBar li a {
            display: block;
            color: #d8dee9;
            text-decoration: none;
            padding: 8px;
            text-align: center;
            background-color: #4F5A69;
        }

        body {
            text-align: center;
            margin: 0px;
            padding: 20px;
            font-size: 30px;
        }

        #search {
            background-color: #48CFAD;
        }

        #searchID {
            background-color: #48CFAD;
        }

        #picture {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        table {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        input {
            background-color: hsla(0, 0%, 96.5%, .13);
            color: #0d0d0d;
            padding: 15px 32px;
            font-size: 16px;
            margin: 5px;
            width: 25%;
            border: 2px solid hsla(0, 0%, 96.5%, .36);
        }

        .select {
            padding: 17px 12px;
            color: #333333;
            background-color: #d8dee9;
            border: 1px solid #dddddd;
            cursor: pointer;
            border-radius: 5px;
        }

        .select:focus,
        .select:hover {
            outline: none;
            border: 1px solid #bbbbbb;
        }
        #searchButton {
            cursor: pointer;
        }
    </style>
    <label>Search for a movie: </label>
    <br>
    <input autofocus placeholder="Search keyword" type="text" autocomplete="off" id="searchID">
    <select class="select" id="select">
        <option disabled selected required>Select filter</option>
        <option value="movie">Movie</option>
        <option value="genre">Genre</option>
        <option value="director">Director</option>
        <option value="writer">Writer</option>
        <option value="actors">Actor</option>
        <option value="year">Year</option>
    </select>
    <br>
    <button class="login-button" id="searchButton">Search</button>
    <ul class="list-group" id="list"></ul>
    <br>
    <script src="/logic.js"></script>
    <script>
        document.getElementById('searchButton').addEventListener('click', getQueries);

        function getQueries() {
            let searchTerm = document.getElementById('searchID').value;
            let type = document.getElementById("select").value;
            
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const searchTermFromURL = urlParams.get('searchTerm');
            const typeFromURL = urlParams.get('type');
            if (searchTermFromURL == null || (searchTermFromURL == null && typeFromURL == null)) {
                search(searchTerm, type);
            }
            else {
                search(searchTermFromURL, typeFromURL);
            }
        }
    </script>
</body>