<!DOCTYPE html>
<html lang="en">
    <%- include("partials/header", {title: user.name}) %>

<body class="nordtheme">
    <style>
        body {
            text-align: center;
            margin: auto;
            padding: 20px;
            font-size: 30px;
        }

        h1 {
            font-size: 30px;
            text-align: center;
        }
    </style>
    <br>
    <br>
    <img src="/Pictures/defaultpicture.jpeg" height=300px/>
    <table>
        <tr>
            <td> Name: <%= user.name %></td>
        </tr>
        <tr>
            <td> Favourite Movies: <%= user.favouriteMovies %></td>
        </tr>
        <tr>
            <td> Watchlist: <%= user.watchlist %></td>
        </tr>
    </table>
</body>